<header>
    <div class="header-content">
        <nav>
            <ul>
                <li><a href="index.html">Hjem</a></li>
                <li><a href="search.html">Søk</a></li>
                <li><a href="about.html">Om oss</a></li>
                <li><a href="register.html">Registrer ENK</a></li>
                
            </ul>
        </nav>
        <div class="header-right">
            <div class="search-container">
                <form id="search-form" action="search.html" method="get">
                    <input type="text" id="search-input" name="q" placeholder="Søk etter ENK...">
                    <button type="submit">Søk</button>
                </form>
            </div>
            <a href="login.html" class="login-link">Logg inn</a>
        </div>
    </div>
</header>